body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
    color: white;
    text-align: center; 
}

@keyframes floatInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }}

.Socials{
    animation: floatInLeft 1.5s ease-out;
}

.Form{
    animation: floatInLeft 1.5s ease-out;
}

.header {
    background: royalblue;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    padding: 10px 20px;
    transition: color 0.3s;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: #ADD8E6;
}

.active {
    font-weight: bold;
}

h2 {
    font-size: 2.5em; 
    text-shadow: 2px 2px royalblue; 
}

.social-icons {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.social-icons .block {
    flex: 0 1 calc(10% - 4px); 
    margin: 2px; 
    text-align: center; 
}

.social-icons img {
    width: 120px; 
    height: 120px; 
}

footer {
    background: royalblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

.Form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
}

.form-container {
    display: flex;
    flex-direction: column; 
}

label {
    font-weight: bold; 
    margin-bottom: 5px; 
    color: white; 
    font-size: 1.2em;
    text-shadow: 2px 2px 0px royalblue;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%; 
    padding: 15px; 
    margin-bottom: 15px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2em; 
    background-color: rgba(255, 255, 255, 0.8); 
    outline: none; 
}

button {
    padding: 10px 20px; 
    background-color: royalblue; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0066cc; 
}
